---
layout: default
---
<img src='/images/S C-7.png' alt='Solaria Chip'>
<h1 class="pageTitle"><h1 style="background-color:lightsteelblue; color=peru;"><p style="text-align: center;">✵ Recent Posts ✵ </p></h1>
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <center><i>   
      by {{ post.author }}
      </center></i>

      <div class="entry">
        {{ post.excerpt | truncatewords:75 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

  {% if paginator.total_pages > 1 %}
<div class="pagination"> <div style="text-align: center;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev |</a>
  {% else %}
    <span>&laquo; Prev |</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">| Next &raquo;</a>
  {% else %}
    <span>| Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
